/**
 * Light mode colors.
 */
$background-color: #ffffff;
$code-bg-color: #f5f5f5;
$code-text-color: #2a2a2a;
$default-btn-bg-color: #242729;
$default-btn-border-color: #cccccc;
$default-btn-hover-bg-color: #eaeaea;
$default-btn-hover-border-color: #cccccc;
$default-btn-hover-text-color: #242729;
$default-btn-text-color: #f5f5f5;
$footer-bg-color: #242729;
$footer-text-color: #f5f5f5;
$header-bg-color: #f5f5f5;
$header-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
$kbd-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
$link-color: #1c90d0;
$table-border-color: #cccccc;
$table-header-bg-color: #e0e0e0;
$table-row-bg-color: #efeff2;
$text-color: #000000;
$text-highlight-color: #fff49f;

/**
 * Dark mode colors.
 */
$dm-background-color: #1c1c1c;
$dm-code-bg-color: #2a2a2a;
$dm-code-text-color: #f0f0f0;
$dm-default-btn-bg-color: #44484a;
$dm-default-btn-border-color: #666666;
$dm-default-btn-hover-bg-color: #333333;
$dm-default-btn-hover-border-color: #888888;
$dm-default-btn-hover-text-color: #f0f0f0;
$dm-default-btn-text-color: #e5e5e5;
$dm-footer-bg-color: #2a2a2a;
$dm-footer-text-color: #e5e5e5;
$dm-header-bg-color: #2a2a2a;
$dm-header-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
$dm-kdb-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
$dm-link-color: #79bfe3;
$dm-table-border-color: #666666;
$dm-table-header-bg-color: #2a2a2a;
$dm-table-row-bg-color: #3a3a3a;
$dm-text-color: #f0f0f0;
$dm-text-highlight-color: #fff49f;