/**
 * @jamsedu --dest=css/main.css --uncompressed
 */
@use "./basic-elements.scss";
@use "./colors.scss";
@use "./jamsedu.scss";
@use "./navigation.scss";
@use "./normalize.scss";

@include normalize.styles();

@include basic-elements.styles();

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/roboto-slab/roboto-slab.ttf') format('truetype'), url('../fonts/roboto-slab/roboto-slab.woff2') format('woff2'), url('../fonts/roboto-slab/roboto-slab.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/roboto-mono/roboto-mono.ttf') format('truetype'), url('../fonts/roboto-mono/roboto-mono.woff2') format('woff2'), url('../fonts/roboto-mono/roboto-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --default-margin: 1.5rem;
    --default-padding: 1.5rem;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);

    &.default #default-theme-button {
        color: var(--default-btn-hover-text-color);
        border: 1px solid var(--default-btn-border-color);
        background-color: var(--default-btn-hover-bg-color);

        svg {
            fill: var(--default-btn-hover-text-color);
        }
    }

    &.light {
        --background-color: #{colors.$background-color};
        --code-bg-color: #{colors.$code-bg-color};
        --code-text-color: #{colors.$code-text-color};
        --default-btn-bg-color: #{colors.$default-btn-bg-color};
        --default-btn-border-color: #{colors.$default-btn-border-color};
        --default-btn-hover-bg-color: #{colors.$default-btn-hover-bg-color};
        --default-btn-hover-border-color: #{colors.$default-btn-hover-border-color};
        --default-btn-hover-text-color: #{colors.$default-btn-hover-text-color};
        --default-btn-text-color: #{colors.$default-btn-text-color};
        --footer-bg-color: #{colors.$footer-bg-color};
        --footer-text-color: #{colors.$footer-text-color};
        --header-bg-color: #{colors.$header-bg-color};
        --header-shadow: #{colors.$header-shadow};
        --link-color: #{colors.$link-color};
        --table-border-color: #{colors.$table-border-color};
        --table-header-bg-color: #{colors.$table-header-bg-color};
        --table-row-bg-color: #{colors.$table-row-bg-color};
        --text-color: #{colors.$text-color};
        --text-highlight-color: #{colors.$text-highlight-color};

        &:not(.default) #light-theme-button {
            color: var(--default-btn-hover-text-color);
            border: 1px solid var(--default-btn-border-color);
            background-color: var(--default-btn-hover-bg-color);
            
            svg {
                fill: var(--default-btn-hover-text-color);
            }
        }
    }

    &.dark {
        --background-color: #{colors.$dm-background-color};
        --code-bg-color: #{colors.$dm-code-bg-color};
        --code-text-color: #{colors.$dm-code-text-color};
        --default-btn-bg-color: #{colors.$dm-default-btn-bg-color};
        --default-btn-border-color: #{colors.$dm-default-btn-border-color};
        --default-btn-hover-bg-color: #{colors.$dm-default-btn-hover-bg-color};
        --default-btn-hover-border-color: #{colors.$dm-default-btn-hover-border-color};
        --default-btn-hover-text-color: #{colors.$dm-default-btn-hover-text-color};
        --default-btn-text-color: #{colors.$dm-default-btn-text-color};
        --footer-bg-color: #{colors.$dm-footer-bg-color};
        --footer-text-color: #{colors.$dm-footer-text-color};
        --header-bg-color: #{colors.$dm-header-bg-color};
        --header-shadow: #{colors.$dm-header-shadow};
        --link-color: #{colors.$dm-link-color};
        --table-border-color: #{colors.$dm-table-border-color};
        --table-header-bg-color: #{colors.$dm-table-header-bg-color};
        --text-color: #{colors.$dm-text-color};
        --text-highlight-color: #{colors.$dm-text-highlight-color};

        &:not(.default) #dark-theme-button {
            color: var(--default-btn-hover-text-color);
            border: 1px solid var(--default-btn-border-color);
            background-color: var(--default-btn-hover-bg-color);

            svg {
                fill: var(--default-btn-hover-text-color);
            }
        }
    }
}

body.light {
    header {
        .dark {
            display: none;
        }
        .light {
            display: initial;
        }
    }
}

body.dark {
    header {
        .dark {
            display: initial;
        }
        .light {
            display: none;
        }
    }
}

header {
    display: grid;
    padding: var(--default-padding);
    background-color: var(--header-bg-color);
    box-shadow: var(--header-shadow);
    grid-template-columns: auto 1fr auto auto auto auto;
    grid-template-areas: "logo title language theme search nav";

    #logo-container {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        img {
            height: calc(var(--default-padding) * 2 + 30px);
            max-height: calc(var(--default-padding) * 2 + 30px);
            margin: 0 var(--default-margin) 0 0;
            width: auto;
        }
    }

    #title-container {
        grid-area: title;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--text-color);

        p {
            margin: 0 var(--default-margin) 0 0;
        }

        a {
            color: initial;
            text-decoration: none;
        }
    }

    #language-container {
        grid-area: language;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 var(--default-margin) 0 0;
        
        #language-selector-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: var(--default-padding);
            text-align: center;
            background-color: var(--default-btn-bg-color);
            border-radius: 4px;
            border: 1px solid transparent;
            color: var(--default-btn-text-color);
            position: relative;
            box-shadow: var(--header-shadow);

            svg {
                fill: var(--default-btn-text-color);
                width: 30px;
                height: 24px;
            }

            &:hover {
                color: var(--default-btn-hover-text-color);
                border: 1px solid var(--default-btn-border-color);
                background-color: var(--default-btn-hover-bg-color);

                svg {
                    fill: var(--default-btn-hover-text-color);
                }
            }
        }
    }

    #theme-container {
        grid-area: theme;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 var(--default-margin) 0 0;

        .theme-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding: .5rem 1rem;
            line-height: var(--default-padding);
            cursor: pointer;
            color: var(--default-btn-text-color);
            background: var(--default-btn-bg-color);
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: var(--header-shadow);

            svg {
                margin: 0 7px 0 0;
                fill: var(--default-btn-text-color);
            }

            &:hover {
                color: var(--default-btn-hover-text-color);
                border: 1px solid var(--default-btn-border-color);
                background-color: var(--default-btn-hover-bg-color);

                svg {
                    fill: var(--default-btn-hover-text-color);
                }
            }
        }
        
        #theme-selector-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: var(--default-padding);
            margin: 0;
            text-align: center;
            position: relative;
            height: 100%;
            max-height: calc(var(--default-padding) * 2 + 24px);

            svg {
                margin: 0;
            }
        }

        #theme-options {
            position: absolute;
            top: 55px;
            z-index: 2000;
            overflow: hidden;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
            padding: calc(var(--default-margin) * .8) 0 0 0;
            width: 165px;

            .theme-button {
                width: 100%;
                margin: 0 0 calc(var(--default-margin) * .7) 0;
            }

            #default-theme-button {
                svg {
                    transform: scale(0.9);
                }
            }
            
            #dark-theme-button {
                svg {
                    transform: rotate(-18deg) scale(0.85);
                }
            }

            &.open {
                opacity: 1;
                pointer-events: all
            }
        }
    }

    #search-container {
        grid-area: search;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 var(--default-margin) 0 0;

        #search-toggle {
            display: none
        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: var(--default-padding);
            text-align: center;
            background-color: var(--default-btn-bg-color);
            border-radius: 4px;
            border: 1px solid transparent;
            color: var(--default-btn-text-color);
            position: relative;
            box-shadow: var(--header-shadow);

            svg {
                fill: var(--default-btn-text-color);
                width: 30px;
                height: 24px;
            }

            &:hover {
                color: var(--default-btn-hover-text-color);
                border: 1px solid var(--default-btn-border-color);
                background-color: var(--default-btn-hover-bg-color);

                svg {
                    fill: var(--default-btn-hover-text-color);
                }
            }
        }

        #search-input-container {
            position: absolute;
            top: calc(var(--default-padding) * 4 + 30px);
            background-color: var(--header-bg-color);
            box-shadow: var(--header-shadow);
            right: 0;
            width: 300px;
            padding: var(--default-padding);
            max-width: 100vw;
            z-index: 900;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.26s ease-in-out;

            input {
                width: 100%;
                padding: calc(var(--default-padding) / 2);
                border: 1px solid var(--table-border-color);
                border-radius: 4px;
                color: var(--text-color);
            }

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: 0;
                width: 100%;
                height: 10px;
                background-color: var(--header-bg-color);
            }
        }

        // Show/hide mobile menu based on checkbox state
        #search-toggle:checked ~ #search-input-container {
            // max-height: 500px; // Set this to a high enough value to accommodate your menu height
            transform: scaleX(1);
        }
    }
    
    @include navigation.styles;
}

main {
    flex: 1;
    padding: var(--default-padding);

    .section {
        min-height: 50vh;
    }
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: var(--default-padding)
}

@include jamsedu.styles;