@mixin styles {
    nav {
        --span-height: 4px;
        --span-margin: 8px;

        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: center;

        // Hidden checkbox for mobile menu toggle
        #mobile-menu-toggle {
            display: none;
        }

        // Styling for mobile menu toggle
        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: var(--default-padding);
            text-align: center;
            background-color: var(--default-btn-bg-color);
            border-radius: 4px;
            border: 1px solid transparent;
            color: var(--default-btn-text-color);
            position: relative;
            width: 30px;
            height: 24px;
            box-shadow: var(--header-shadow);
            box-sizing: unset;

            span {
                display: block;
                height: var(--span-height);
                max-height: var(--span-height);
                width: 100%;
                margin-bottom: var(--span-margin);
                background-color: var(--default-btn-text-color);
                border-radius: 2px;
                transition: all 0.3s ease-in-out;

                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }

            &:hover {
                color: var(--default-btn-hover-text-color);
                border: 1px solid var(--default-btn-border-color);
                background-color: var(--default-btn-hover-bg-color);

                span {
                    background-color: var(--default-btn-hover-text-color);
                }
            }

            &::before, &::after {
                box-sizing: unset;
            }
        }

        // Transform hamburger into X when menu is open
        #mobile-menu-toggle:checked + label span {
            &:nth-child(1) {
                transform: rotate(45deg) translate(8px, 8px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }

        ul {
            position: absolute;
            top: calc(var(--default-padding) * 4 + var(--span-height) * 3 + var(--span-margin) * 2 + 3px);
            background-color: var(--header-bg-color);
            box-shadow: var(--header-shadow);
            right: 0;
            width: 400px;
            max-width: 100vw;
            z-index: 1000;

            list-style-type: none;
            margin: 0;
            padding: 0;
            // max-height: 0;
            overflow: visible;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.26s ease-in-out;

            li {
                display: block;

                a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: 0;
                width: 100%;
                height: 10px;
                background-color: var(--header-bg-color);
            }
        }

        // Show/hide mobile menu based on checkbox state
        #mobile-menu-toggle:checked ~ ul {
            // max-height: 500px; // Set this to a high enough value to accommodate your menu height
            transform: scaleX(1);
        }

        // Media rule for desktop
        // @media (min-width: 999px) {
        //     ul {
        //         display: flex;
        //         justify-content: space-between;
        //         max-height: none;
        //         transform: none;

        //         li {
        //             display: inline;
        //         }
        //     }
        // }
    }
}
