@mixin styles {
    /**
    * Modern Normalize rules: https://github.com/sindresorhus/modern-normalize/blob/main/modern-normalize.css
    */

    /*
    Document
    ========
    */

    /**
    Use a better box model (opinionated).
    */

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    html {
        /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
        font-family:
            system-ui,
            'Segoe UI',
            Roboto,
            Helvetica,
            Arial,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji';
        line-height: 1.15; /* 1. Correct the line height in all browsers. */
        -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
        tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
    }

    /*
    Sections
    ========
    */

    body {
        margin: 0; /* Remove the margin in all browsers. */
    }

    /*
    Text-level semantics
    ====================
    */

    /**
    Add the correct font weight in Chrome and Safari.
    */

    b,
    strong {
        font-weight: bolder;
    }

    /**
    1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
    2. Correct the odd 'em' font sizing in all browsers.
    */

    code,
    kbd,
    samp,
    pre {
        font-family:
            ui-monospace,
            SFMono-Regular,
            Consolas,
            'Liberation Mono',
            Menlo,
            monospace; /* 1 */
        font-size: 1em; /* 2 */
    }

    /**
    Add the correct font size in all browsers.
    */

    small {
        font-size: 80%;
    }

    /**
    Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
    */

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    /*
    Tabular data
    ============
    */

    /**
    Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
    */

    table {
        border-color: currentcolor;
    }

    /*
    Forms
    =====
    */

    /**
    1. Change the font styles in all browsers.
    2. Remove the margin in Firefox and Safari.
    */

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit; /* 1 */
        font-size: 100%; /* 1 */
        line-height: 1.15; /* 1 */
        margin: 0; /* 2 */
    }

    /**
    Correct the inability to style clickable types in iOS and Safari.
    */

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: button;
    }

    /**
    Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
    */

    legend {
        padding: 0;
    }

    /**
    Add the correct vertical alignment in Chrome and Firefox.
    */

    progress {
        vertical-align: baseline;
    }

    /**
    Correct the cursor style of increment and decrement buttons in Safari.
    */

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        height: auto;
    }

    /**
    1. Correct the odd appearance in Chrome and Safari.
    2. Correct the outline style in Safari.
    */

    [type='search'] {
        -webkit-appearance: textfield; /* 1 */
        outline-offset: -2px; /* 2 */
    }

    /**
    Remove the inner padding in Chrome and Safari on macOS.
    */

    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    /**
    1. Correct the inability to style clickable types in iOS and Safari.
    2. Change font properties to 'inherit' in Safari.
    */

    ::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
    }

    /*
    Interactive
    ===========
    */

    /*
    Add the correct display in Chrome and Safari.
    */

    summary {
        display: list-item;
    }

    /**
    * Norm Css oldies rules: https://github.com/u1ui/norm.css/blob/main/oldies.css
    */

    hr {
        box-sizing: content-box; /* firefox 57- https://bugzilla.mozilla.org/show_bug.cgi?id=1377188 */
        height: 0; /* fixed */
        overflow: visible; /* ie edge 18- */
    }
    pre, code, kbd, samp {
        font-family: monospace, monospace; /* Consolas on windows? Correct the inheritance and scaling of font size in all browsers. */
        font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
    }
    table {
        text-indent: 0; /* Remove text indentation from table contents in Chrome and Safari. */
    }
    select, button {
        text-transform: none; /* Remove the inheritance of text transform in Firefox. */
    }
    progress {
        vertical-align: baseline; /* needed? (firefox, chrome, safari: vertical-align: -0.2em) */
    }
    audio:not([controls]) { /* "Add the correct display in iOS 4-7". do we need it? display is inline but its still hidden!? */
        display: none;
        height: 0;
    }
    ol ol, ol ul, ul ol, ul ul {
      margin: 0;  /* ie edge18- */
    }
    main {
        display: block; /* ie */
    }
    a {
        background-color: transparent; /* ie 10 */
    }
    svg:not(:root) {
        overflow: hidden; /* ie */
    }
    button {
        overflow: visible; /* ie */
        text-transform: none; /* edge 18- ff? ie */
    }
    input {
        overflow: visible; /* edge18- ie */
    }
    legend {
        box-sizing: border-box; /* ie edge18- */
        color: inherit; /* ie */
        display: table; /* ie edge18- */
        max-width: 100%; /* ie edge18- */
        white-space: normal; /* ie edge18- */
    }
    progress {
        display: inline-block; /* ie edge18- */
    }
    textarea {
        overflow: auto; /* ie */
    }
    details {
        display: block; /* ie edge18- */
    }
    template {
        display: none; /* ie */
    }

    /**
    * Norm Css rules: https://github.com/u1ui/norm.css/blob/main/norm.css
    */
    
    :where(html) {
        /* Chrome rounds computed line-height:
        16px (font-size) * 1.15 (line-height) = 18.4px (line-height);
        But chrome uses 18px. So use a number that gives full pixels. (1.124 or 1.1875) */
        line-height: 1.1875;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    :where(h1) {
        font-size: 2em; /* Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
        margin-block: 0.67em;
    }
    :where(dl, ol, ul) :where(dl, ol, ul) {
        margin: 0; /* Remove the margin on nested lists in Chrome and Safari. */
    }
    :where(hr) {
        color: inherit; /* Correct the inheritance of border color in Firefox. */
    }
    :where(abbr[title]) {
        -webkit-text-decoration: underline dotted; /* safari (does not support unprefixed shorthand) */
        text-decoration-thickness: .08em; /* safari, chrome to match firefox */
        text-underline-offset: 0.1em; /* safari, chrome to match firefox */
    }
    :where(b, strong) {
        font-weight: bolder; /* Add the correct font weight in Chrome and Safari. */
    }
    :where(small) {
        font-size: 80%; /* Add the correct font size in all browsers. */
    }
    :where(table) {
        border-color: currentColor; /* Correct table border color in Chrome and Safari. */
        /* text-indent: 0; will enable it if someone has a need for it */
    }
    :where(textarea, button, input, select) { /* textarea: Firefox, all:Safari */
        margin: 0;
    }
    :where(textarea) { /* behave like in firefox */
        baseline-source: first; /* available in chrome 111, safari no */
    }
    :where(button, input:is([type="button"], [type="reset"], [type="submit"])) {
        -webkit-appearance: button; /* Correct the inability to style buttons in iOS and Safari. */
    }
    :where([type="search"]) {
        -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */
        /* outline-offset: -2px; /* Correct the outline style in Safari. Get worse in chrome... */
    }
    :where(::-webkit-search-decoration) {
        -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS. */
    }
    :where(::placeholder) { /* Correct the text style of placeholders in Chrome and Safari. */
        color: inherit;
        opacity: .54;
    }
    :where(::-webkit-file-upload-button) {
        -webkit-appearance: button; /* Correct the inability to style upload buttons in iOS and Safari. */
        font: inherit; /* Change font properties to `inherit` in Safari. */
    }
    :where(:-moz-ui-invalid) { /* Remove the additional :invalid styles in Firefox. */
        box-shadow: none;
    }
    :where(summary) { /* Add the correct display in safari 14 */
        display: list-item;
    }
    :where(search) {
        display:block;
    }
    :where([inert]) { /* ch < 102 sf < 15.5 ff < 112 */
        pointer-events: none;
        cursor: default;
    }
    :where([inert], [inert] *) {
        /* user-modify: read-only !important; no effect? */
        -webkit-user-select: none;
        user-select: none;
    }
}