<var name="page-styles">
    <link href="/css/main.css" rel="stylesheet">
</var>

<var name="page-scripts">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/hello/javascript.js"></script>
    <script src="/js/hello/typescript.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</var>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
        <var>page-title</var>
    </title>
    <var merge>additional-head-content</var>
    <var merge>page-styles</var>
    <var merge>page-scripts</var>
</head>