<!--
    JamsEdu is designed on the principle of navigating based on the websites root. This means all
    links that are part of a navigation bar should start with a forward slash (/) and point to where
    the specified file is relative to the websites root directory.

    This is one type of relative path you can use in web development. For a deeper explanation and
    examples of all possible navigation (linking) see: https://www.w3schools.com/html/html_filepaths.asp
-->
<nav>
    <input id="mobile-menu-toggle" type="checkbox">
    <label for="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul>
        <li><a href="/index.html">Main</a></li>
        <li><a href="/a/a.html">A</a></li>
        <li><a href="/b/b.html">B</a></li>
        <li><a href="/index.html">Main</a></li>
        <li><a href="/a/a.html">A</a></li>
        <li><a href="/b/b.html">B</a></li>
        <li><a href="/index.html">Main</a></li>
        <li><a href="/a/a.html">A</a></li>
        <li><a href="/b/b.html">B</a></li>
        <li><a href="/index.html">Main</a></li>
        <li><a href="/a/a.html">A</a></li>
        <li><a href="/b/b.html">END</a></li>
    </ul>
</nav>