<nav>
    <ul>
        <li>
            <div class="nav-section">
                <i class="fas fa-boxes"></i> Features
            </div>
        </li>
        <li>
            <a href="{{PATH}}features/basic.html">Basic Elements</a>
        </li>
        <li>
            <a href="{{PATH}}features/lists.html">Lists</a>
        </li>
        <li>
            <a href="{{PATH}}features/callouts.html">Callouts</a>
        </li>
        <li>
            <a href="{{PATH}}features/media.html">Media</a>
        </li>
        <li>
            <a href="{{PATH}}features/advanced.html">Advanced Elements</a>
        </li>
    </ul>
</nav>