header#header {
    grid-area: header;
    height: 4rem;
    margin-bottom: 2rem;
    color: @header-font;
    background-color: @header-bg;
    .drop-shadow( 0px 1px 4px 0px; 0,0,0; 0.25 );

    .content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: "logo company nav-button";
        grid-column-gap: @spacing;
        z-index: 5000;
    }

    #logo-container {
        grid-area: logo;
        height: 6rem;
        margin: -@spacing 0 0 -@spacing;
        padding: 5px;
        background-color: @footer-bg;
        z-index: 5000;
        .drop-shadow();

        #logo {
            height: 6rem;
            max-height: 100%;
            width: auto;
        }
    }

    #company-container {
        grid-area: company;
        display: none;
        align-items: center;
        height: 4rem;
        margin-top: -@spacing;
        font-size: @font-size * 1.25;
    }

    #mobile-nav-button {
        grid-area: nav-button;
        display: flex;
        align-items: center;
        float: right;
        height: 4rem;
        font-size: 2.25rem;
        padding: 0 @spacing;
        margin: -@spacing -@spacing 0 0;

        .icon {
            color: @header-font;
        }

        &.closed {
            .icon {
                &.close-button {
                    display: block;
                }
                &.close-button {
                    display: none;
                }
            }
        }

        &.open {
            .icon {
                &.close-button {
                    display: none;
                }
                &.close-button {
                    display: block;
                }
            }
        }
    }

    @media ( min-width: 425px ) {
        #company-container {
            display: flex;
        }
    }

    @media ( min-width: 769px ) {
        #mobile-nav-button {
            display: none;
        }
    }
}