<header id="je-header">
    <div class="je-content">
        <div id="je-logo-container">
            <a href="{{PATH}}index.html">
                <img src="{{PATH}}assets/logo.png" alt="Caboodle Tech Logo" id="je-logo">
            </a>
        </div>
        <div id="je-company-container">
            {{G:ORG_NAME}}
        </div>
        <div id="je-mobile-nav-button" class="je-closed">
            <i class="fas fa-bars je-icon je-open-button"></i>
            <i class="fas fa-times je-icon je-close-button"></i>
        </div>
    </div>
</header>
<main id="je-main">
    <div class="je-content">