<header id="header">
    <div class="content">
        <div id="logo-container">
            <a href="{{PATH}}index.html">
                <img src="{{PATH}}assets/logo.png" alt="Caboodle Tech Logo" id="logo">
            </a>
        </div>
        <div id="company-container">
            {{G:ORG_NAME}}
        </div>
        <div id="mobile-nav-button" class="closed">
            <i class="fas fa-bars icon open-button"></i>
            <i class="fas fa-times icon close-button"></i>
        </div>
    </div>
</header>
<main id="main">
    <div class="content">